@import url("./fonts.css");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  height: 100vh;
  padding: 50px 105px 0;
  background-image: url("../img/top-section/top-section-background.png");
}
header {
  display: flex;
  justify-content: space-between;
}
.header-logo {
  width: 205px;
  height: 40px;
  background-image: url("../img/logos/logos-sprite.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.links-header {
  margin-bottom: 200px;
  display: flex;
}
.stays.offers-description {
  color: #ffffff;
  padding-left: 24px;
}
.line.line-header {
  width: 50px;
  margin: 12px auto 0;
}
.dark-theme.header-logo {
  width: 30px;
  height: 30px;
  margin-left: 48px;
  background-position: -150px 5px;
}
.account.header-logo {
  width: 40px;
  height: 40px;
  margin-left: 24px;
  background-position: -235px 0;
}
.header-page {
  display: flex;
  flex-wrap: wrap;
}
.page {
  font-size: 50px;
  font-weight: 500;
  color: #ffffff;
  width: 100%;
  margin-bottom: 100px;
}
.page-description {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}
form {
  width: 100%;
}

.apps {
  width: 100%;
  margin-bottom: 120px;
  display: flex;
  justify-content: center;
  gap: 16px;
}
.android {
  width: 135px;
  height: 40px;
  background-position: -275px 0;
}
.ios {
  width: 135px;
  height: 40px;
  background-position: -410px 0;
}



.text-center {
  text-align: center;
}

h2 {
  color: #383838;
  font-size: 40px;
  font-weight: 500;
  margin-top: 120px;
  margin-bottom: 20px;
}

.line {
  width: 100px;
  height: 4px;
  background-color: #f5bd41;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
}

.offers {
  height: 180px;
  margin-bottom: 120px;
  display: flex;
  justify-content: space-evenly;
}

.image {
  width: 90px;
  height: 90px;
  margin-top: 10px;
  margin-bottom: 55px;
}

.offers-description {
  font-size: 24px;
  font-weight: 400;
  color: #383838;
}

footer {
  background-color: #10367c;
  padding-top: 120px;
  display: flex;
  flex-wrap: wrap;
}

.links-footer {
  color: #ffffff;
  padding: 0 105px;
  font-size: 20px;
  line-height: 2.5;
  display: flex;
  flex-basis: 1440px;
}

.links-about {
  flex-basis: 33.3%;
}

.links-property {
  flex-basis: 33.3%;
}

.links-support {
  flex-basis: 33.3%;
}

.links-title {
  font-weight: 500;
}

.links-list {
  font-weight: 400;
}

.copyright {
  font-size: 14px;
  font-weight: 400;
  padding-top: 65px;
  padding-bottom: 120px;
  display: flex;
  justify-content: start;
}
